# Hoist @algorandfoundation packages to ensure proper resolution
public-hoist-pattern[]=*@algorandfoundation/liquid-client*
public-hoist-pattern[]=*@algorandfoundation/liquid-auth-use-wallet-client*

